<!-- CLASE 1 - CONTENIDOS DE ACTIVIDADES -->
<div class="tab-pane fade active show" id="clase1-actividad1" role="tabpanel" aria-labelledby="clase1-actividad1-tab">
  <div id="clase1-actividad1Contenido" class="d-block card-body">
    <h3 class="card-text titleClase redTitle">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      ¿QUÉ ES EL SONIDO?
    </h3>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571229602" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-actividad2" role="tabpanel" aria-labelledby="clase1-actividad2-tab">
  <div id="clase1-actividad2Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo redTitle" src="./img/punto_rojo.png">
      CUALIDADES DEL SONIDO
    </h3>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571230311" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-actividad3" role="tabpanel" aria-labelledby="clase1-actividad3-tab">
  <div id="clase1-actividad3Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      TIMBRE Y FUENTE SONORA
    </h3>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571230198" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-actividad4" role="tabpanel" aria-labelledby="clase1-actividad4-tab">
  <div id="clase1-actividad4Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      LA PIÑATA
    </h3>
    <h5 class="pt-2 rojoLink">
      Juego para la identificación de timbres y fuentes sonoras
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571231239" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-actividad5" role="tabpanel" aria-labelledby="clase1-actividad5-tab">
  <div id="clase1-actividad5Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      JEREMÍAS
    </h3>
    <h5 class="pt-2 rojoLink">
      Juego para la identificación de timbres y fuentes sonoras
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571230408" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-actividad6" role="tabpanel" aria-labelledby="clase1-actividad6-tab">
  <div id="clase1-actividad6Contenido" class="d-block card-body">
    <h3 class="card-text titleClase bebas">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      LA FAMILIA
    </h3>
    <h5 class="pt-2 rojoLink">
      Juego para la identificación de timbres y fuentes sonoras
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571230881" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-tarea" role="tabpanel" aria-labelledby="clase1-tarea-tab">
  <div id="clase1-tareaContenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      NOMBRES Y SONIDOS
    </h3>
    <h5 class="pt-2 rojoLink">
      Tarea 1
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="col-12 col-md-10 d-block">
        <div class="row my-5">
          <p class="card-text">
            Te proponemos una ACTIVIDAD bastante particular. Tal vez sea de mejor que busques unos
            auriculares
            🎧.
          </p>
          <p class="card-text">
            Se trata de poner nombre -en lo posible con una sola palabra- a una serie de sonidos que
            escucharás
            en una <i><b>banda sonora</b></i>.
          </p>
          <ul>
            <li style="font-style: italic;">
              Debes tener en cuenta que el sonido que se escucha de fondo, un
              teclado, no participa en el juego así que deberás poder diferenciar
              el sonido de fondo, del principal.
            </li>
          </ul>
        </div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/575594725" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="d-flex justify-content-end">
          <button class="p-2 textoNaranjaAYP bgPes rounded shadow-none">
            <a class="text-decoration-none" style="color: white; font-weight: bold;" href="https://www.ayp.org.ar/tareas-pes/" target="_blank">
              Envíar tarea
            </a>
          </button>
        </div>

        <div class="row my-3"></div>
        <!-- <p class="card-text">
          Para preparar tu tarea ten en cuenta que los formatos de archivo permitidos actualmente son:
        </p>
        <ul>
          <li>
            <b>texto:</b> *.doc, *.docx, *.pdf, *.rtf, *.txt
          </li>
          <li>
            <b>imagen:</b> *.jpg, *.jpeg, *.png
          </li>
          <li>
            <b>video:</b> *.mov, *.mp4, *.m4v, *.mkv
          </li>
          <li>
            <b>audio:</b> *.mp3, *.wav, *.m4a, *.wma
          </li>
          <li>
            <b>comprimidos:</b> *.zip, *.rar
          </li>
          <li>
            <b>tamaño límite de archivo:</b> 50 mb por archivo
          </li>
        </ul> -->
        <p class="card-text mt-2">
          Una vez enviada la tarea recibirás una devolución en tu correo electrónico desde
          <span class="linkColorRed">tutorias@ayp.org.ar</span> .
        </p>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="clase1-saberMas" role="tabpanel" aria-labelledby="clase1-saberMas-tab">
  <div id="clase1-saberMasContenido" class="d-block card-body">
    <div class="d-flex flex-wrap justify-content-between align-items-start">
      <div class="">
        <h3 class="card-text titleClase">
          <img class="puntoRojo" src="./img/punto_rojo.png">
          PARA SABER MÁS...
        </h3>
      </div>
      <a href="http://www.ayp.org.ar/biblioteca" target="_blank" class="text-decoration-none text-body"
        data-bs-toggle="tooltip" data-bs-placement="left" title="Biblioteca online">
        <div class="d-flex justify-content-between align-items-center">
          <p class="d-none d-md-block m-0 text-center p-1">
            Biblioteca online
          </p>
          <img style="width: 25px;" src="./img/library-icon.jpg">
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="col-12 col-md-10 d-block">
        <ul class="mt-4">
          <li>
            <a class="text-decoration-none" target="_blank"
              href="https://www.ayp.org.ar/project/propiedades-del-sonido">
              <h5 class="pt-2 rojoLink">
                Propiedades del sonido
              </h5>
            </a>
          </li>
          <li>
            <a class="text-decoration-none" target="_blank"
              href="https://www.ayp.org.ar/project/el-sonido-y-la-audicion">
              <h5 class="pt-2 rojoLink">
                El sonido y la audición
              </h5>
            </a>
          </li>
          <li>
            <a class="text-decoration-none" target="_blank"
              href="https://www.ayp.org.ar/project/musica-y-cerebro">
              <h5 class="pt-2 rojoLink">
                Música y cerebro
              </h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
  </div>
</div>