<!-- CLASE 2 - CONTENIDOS DE ACTIVIDADES -->
<div class="tab-pane fade active show" id="clase2-actividad1" role="tabpanel" aria-labelledby="clase2-actividad1-tab">
  <div id="clase2-actividad1Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      ALTURA TONAL
    </h3>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571689795" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-actividad2" role="tabpanel" aria-labelledby="clase2-actividad2-tab">
  <div id="clase2-actividad2Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      ¿CÓMO SERÁ?
    </h3>
    <h5 class="pt-2 rojoLink">
      Juegos con variaciones de altura
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571689873" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-actividad3" role="tabpanel" aria-labelledby="clase2-actividad3-tab">
  <div id="clase2-actividad3Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      TOBOGANES
    </h3>
    <h5 class="pt-2 rojoLink">
      Juegos con variaciones de altura
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571689979" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-actividad4" role="tabpanel" aria-labelledby="clase2-actividad4-tab">
  <div id="clase2-actividad4Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      INTENSIDAD
    </h3>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571358743" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-actividad5" role="tabpanel" aria-labelledby="clase2-actividad5-tab">
  <div id="clase2-actividad5Contenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      ROGELIO DINTEL
    </h3>
    <h5 class="pt-2 rojoLink">
      Juegos con variaciones de intensidad
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571358796" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-actividad6" role="tabpanel" aria-labelledby="clase2-actividad6-tab">
  <div id="clase2-actividad6Contenido" class="d-block card-body">
    <h3 class="card-text  titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      DURACIÓN
    </h3>
    <h5 class="pt-2 rojoLink">
      Juegos con variaciones de duración
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/571358701" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
    <div class="row my-3"></div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-tarea" role="tabpanel" aria-labelledby="clase2-tarea-tab">
  <div id="clase2-tareaContenido" class="d-block card-body">
    <h3 class="card-text titleClase">
      <img class="puntoRojo" src="./img/punto_rojo.png">
      DOMESTICANDO SONIDOS
    </h3>
    <h5 class="pt-2 rojoLink">
      Tarea 2
    </h5>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="col-12 col-md-10 d-block">
        <div class="my-5">
          <p class="card-text">
            En esta actividad trabajaremos en la observación de dos videos.
          </p>
          <p class="card-text">
            Realiza los siguientes pasos:
          </p>
          <ol>
            <li>
              Observa los dos videos con detenimiento.
            </li>
            <li>
              Escucha la banda sonora que contiene sonidos aislados.
            </li>
            <li>
              Crea un documento para registrar en dos columnas la lista de los sonidos que consideras que
              le
              pertenecen a uno u otro video.
            </li>
          </ol>
        </div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/575594669" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row my-3"></div>
        <div class="d-flex justify-content-end">
          <button class="p-2 textoNaranjaAYP bgPes rounded shadow-none">
            <a class="text-decoration-none" style="color: white; font-weight: bold;" href="https://www.ayp.org.ar/tareas-pes/" target="_blank">
              Envíar tarea
            </a>
          </button>
        </div>
        
        <div class="row my-3"></div>
        <!-- <p class="card-text">
          Para preparar tu tarea ten en cuenta que los formatos de archivo permitidos actualmente son:
        </p>
        <ul>
          <li>
            <b>texto:</b> *.doc, *.docx, *.pdf, *.rtf, *.txt
          </li>
          <li>
            <b>imagen:</b> *.jpg, *.jpeg, *.png
          </li>
          <li>
            <b>video:</b> *.mov, *.mp4, *.m4v, *.mkv
          </li>
          <li>
            <b>audio:</b> *.mp3, *.wav, *.m4a, *.wma
          </li>
          <li>
            <b>comprimidos:</b> *.zip, *.rar
          </li>
          <li>
            <b>tamaño límite de archivo:</b> 50 mb por archivo
          </li>
        </ul> -->
        <p class="card-text mt-2">
          Una vez enviada la tarea recibirás una devolución en tu correo electrónico desde
          <span class="linkColorRed">tutorias@ayp.org.ar</span> .
        </p>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="clase2-saberMas" role="tabpanel" aria-labelledby="clase2-saberMas-tab">
  <div id="clase2-saberMasContenido" class="d-block card-body">
    <div class="d-flex flex-wrap justify-content-between align-items-start">
      <div class="">
        <h3 class="card-text titleClase">
          <img class="puntoRojo" src="./img/punto_rojo.png">
          PARA SABER MÁS...
        </h3>
      </div>
      <a href="http://www.ayp.org.ar/biblioteca" target="_blank" class="text-decoration-none text-body"
        data-bs-toggle="tooltip" data-bs-placement="left" title="Biblioteca online">
        <div class="d-flex justify-content-between align-items-center">
          <p class="d-none d-md-block m-0 text-center p-1">
            Biblioteca online
          </p>
          <img style="width: 25px;" src="./img/library-icon.jpg">
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="col-0 col-lg-1 d-flex"></div>
      <div class="col-12 col-md-10 d-block">
        <ul class="mt-4">
          <li>
            <a class="text-decoration-none" target="_blank"
              href="https://www.ayp.org.ar/project/lengua-ritmo-y-entonacion/">
              <h5 class="pt-2 rojoLink">
                Lengua, ritmo y entonación
              </h5>
            </a>
          </li>
          <li>
            <a class="text-decoration-none" target="_blank" href="https://www.ayp.org.ar/project/">
              <h5 class="pt-2 rojoLink">
                Relato oral
              </h5>
            </a>
          </li>
          <li>
            <a class="text-decoration-none" target="_blank"
              href="https://www.ayp.org.ar/project/intervalo-complejo">
              <h5 class="pt-2 rojoLink">
                ¿Qué es un intervalo complejo?
              </h5>
            </a>
          </li>
          <li>
            <a class="text-decoration-none" target="_blank"
              href="https://www.ayp.org.ar/project/sobre-la-intensidad">
              <h5 class="pt-2 rojoLink">
                Sobre la intensidad
              </h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-0 col-lg-1 d-flex"></div>
    </div>
  </div>
</div>