<!-- CLASE 2 - CONTENIDOS DE ACTIVIDADES -->
<div class="tab-pane fade active show" id="clase2-actividad1" role="tabpanel" aria-labelledby="clase2-actividad1-tab">
    <div id="clase2-actividad1Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        EL RATON Y LA CAMPANA
      </h3>
      <h5 class="pt-2 rojoLink">Juego con las manos</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/613981722" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="clase2-actividad2" role="tabpanel" aria-labelledby="clase2-actividad2-tab">
    <div id="clase2-actividad2Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        CINCO CARACOLES
      </h3>
      <h5 class="pt-2 rojoLink">Juego con objeto cotidiano</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/613980628" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="clase2-actividad3" role="tabpanel" aria-labelledby="clase2-actividad3-tab">
    <div id="clase2-actividad3Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        UN SAPITO
      </h3>
      <h5 class="pt-2 rojoLink">Juego con personaje</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/613980617" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="clase2-actividad4" role="tabpanel" aria-labelledby="clase2-actividad4-tab">
    <div id="clase2-actividad4Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        SUBIMOS LA ESCALERA
      </h3>
      <h5 class="pt-2 rojoLink">Juego con dos personajes</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/613980623" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  
  
  <div class="tab-pane fade" id="clase2-tarea" role="tabpanel" aria-labelledby="clase2-tarea-tab">
    <div id="clase2-tareaContenido" class="d-block card-body">
      <h3 class="card-text  titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        TAREA 2
      </h3>
      <h5 class="pt-2 rojoLink">
        Para introducir el juego de El ratón y la campana e ir conociendo sus pasos, es ideal contar una pequeña historia a los niños.
      </h5>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="col-12 col-md-10 d-block">
          <div class="my-3">
            <p class="card-text">
              Para introducir el juego de <span class="font-weight-bold">El ratón y la campana</span> e ir conociendo sus pasos, es ideal contar una pequeña historia a los niños.
              <li style="font-style: italic;">
                ¿Cuál podría ser el argumento de esa historia?
              </li>
              <li style="font-style: italic;">
                ¿Podrías desarrollar un pequeño relato de presentación?
              </li>
              <li style="font-style: italic;">
                ¿Podrías desarrollar un pequeño relato de presentación?
              </li>
            </p>
            <p>Graba la historia y luego el juego (pueden ser videos separados si lo deseas) y envíalo para poder apreciar el conjunto.
              Si deseas comentar la experiencia, inclúyela en el formulario de envío.
              </p>
          </div>
          <div class="row my-3"></div>
  
          <div class="d-flex justify-content-end">
            <button class="p-2 textoNaranjaAYP bg-qui rounded shadow-none">
              <a class="text-decoration-none" style="color: white; font-weight: bold;" href="https://www.ayp.org.ar/tareas-man/" target="_blank">
                Envíar tarea
              </a>
            </button>
          </div>
          
          <!-- <p class="card-text">
            Para preparar tu tarea ten en cuenta que los formatos de archivo permitidos actualmente son:
          </p>
          <ul>
            <li>
              <b>texto:</b> *.doc, *.docx, *.pdf, *.rtf, *.txt
            </li>
            <li>
              <b>imagen:</b> *.jpg, *.jpeg, *.png
            </li>
            <li>
              <b>video:</b> *.mov, *.mp4, *.m4v, *.mkv
            </li>
            <li>
              <b>audio:</b> *.mp3, *.wav, *.m4a, *.wma
            </li>
            <li>
              <b>comprimidos:</b> *.zip, *.rar
            </li>
            <li>
              <b>tamaño límite de archivo:</b> 50 mb por archivo
            </li>
          </ul> -->
          <p class="card-text mt-2">
            Una vez enviada la tarea recibirás una devolución en tu correo electrónico desde
            <span class="linkColorRed">tutorias@ayp.org.ar</span> .
          </p>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="clase2-saberMas" role="tabpanel" aria-labelledby="clase2-saberMas-tab">
    <div id="clase2-saberMasContenido" class="d-block card-body">
      <div class="d-flex flex-wrap justify-content-between align-items-start">
        <div class="">
          <h3 class="card-text titleClase">
            <img class="puntoRojo" src="./img/punto_rojo.png">
            PARA SABER MÁS...
          </h3>
        </div>
        <a href="http://www.ayp.org.ar/biblioteca" target="_blank" class="text-decoration-none text-body"
          data-bs-toggle="tooltip" data-bs-placement="left" title="Biblioteca online">
          <div class="d-flex justify-content-between align-items-center">
            <p class="d-none d-md-block m-0 text-center p-1 linkRed">
              Biblioteca online
            </p>
            <img style="width: 25px;" src="./img/library-icon.jpg">
          </div>
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="col-12 col-md-10 d-block">
          <ul class="mt-4">
            <li>
              <a class="text-decoration-none" target="_blank"
                href="https://www.ayp.org.ar/project/la-memoria-implicita-procedural-o-procedimental/">
                <h5 class="pt-2 rojoLink">La memoria implícita, procedural o procedimental</h5>
              </a>
            </li>
            <li>
              <a class="text-decoration-none" target="_blank" 
              href="https://www.ayp.org.ar/project/coordinacion-motriz-2/">
                <h5 class="pt-2 rojoLink">Coordinacion motriz</h5>
              </a>
            </li>
            <li>
              <a class="text-decoration-none" target="_blank"
                href="https://www.ayp.org.ar/project/factores-psicomotrices/">
                <h5 class="pt-2 rojoLink">Factores psicomotrices</h5>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
    </div>
  </div>