<!-- CLASE 4 - CONTENIDOS DE ACTIVIDADES -->
<div class="tab-pane fade active show" id="clase4-actividad1" role="tabpanel" aria-labelledby="clase4-actividad1-tab">
    <div id="clase4-actividad1Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        CINCO RUEDAS
      </h3>
      <h5 class="pt-2 rojoLink">Juego con las manos</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/618934506" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="clase4-actividad2" role="tabpanel" aria-labelledby="clase4-actividad2-tab">
    <div id="clase4-actividad2Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        CANGREJITO
      </h3>
      <h5 class="pt-2 rojoLink">Juego con dedales o tapitas</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/618945462" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="clase4-actividad3" role="tabpanel" aria-labelledby="clase4-actividad3-tab">
    <div id="clase4-actividad3Contenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        ME GUSTA ZAPATEAR
      </h3>
      <h5 class="pt-2 rojoLink">Juego con personaje y dedales</h5>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/622368858" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  
  
  <div class="tab-pane fade" id="clase4-tarea" role="tabpanel" aria-labelledby="clase4-tarea-tab">
    <div id="clase4-tareaContenido" class="d-block card-body">
      <h3 class="card-text titleClase">
        <img class="puntoRojo" src="./img/punto_rojo.png">
        Tarea 4
      </h3>
      <h5 class="pt-2 rojoLink">
        Para la última tarea te daremos dos opciones a elección: trabajar con los personajes de 
        <span class="font-weight-bold">Bla Bla Blá</span> o con <span class="font-weight-bold">El cangrejo</span>.
      </h5>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="col-12 col-md-10 d-block">
          <div class="mt-3">
            <p>OPCION 1:</p>
            <p class="card-text">
              Elige una de estas seis preguntas como punto de partida de un nuevo diálogo entre los dos personajes de Bla Bla Blá.
              <li style="font-style: italic;">¿Cómo volviste?</li>
              <li style="font-style: italic;">¿Qué me trajiste?</li>
              <li style="font-style: italic;">¿Cómo te llamas?</li>
              <li style="font-style: italic;">¿Quién te lo dijo?</li>
              <li style="font-style: italic;">¿A dónde fuiste?</li>
              <li style="font-style: italic;">¿Qué compraste?</li>
            </p>
            <p>Pondremos un límite a este diálogo para que no se extienda mucho. Deberemos tomar en cuenta que no tenga mas de seis preguntas y respuestas.</p>
            <p>Ejemplo:</p>
            <p>– ¿A dónde fuiste? Bla Bla Blá / Fui al mercado BLA BLA BLA</p>
            <p>– ¿y qué compraste? Bla Bla Blá /  Una motoniveladora Bla Bla Blá</p>
            <p>OPCIÓN 2:</p>
            <p>Construye tu cangrejo y representa la canción con la coreografía que te hemos enseñado.</p>
            <p>Graba la consigna elegida en video y envíala a través del formulario. También puedes compartir las reflexiones de tu experiencia.</p>
          </div>
          <div class="row my-3"></div>
  
          <div class="d-flex justify-content-end">
            <button class="p-2 textoNaranjaAYP bg-qui rounded shadow-none">
              <a class="text-decoration-none" style="color: white; font-weight: bold;" href="https://www.ayp.org.ar/tareas-man/" target="_blank">
                Envíar tarea
              </a>
            </button>
          </div>
          
          <div class="row my-3"></div>
          <!-- <p class="card-text">
            Para preparar tu tarea ten en cuenta que los formatos de archivo permitidos actualmente son:
          </p>
          <ul>
            <li>
              <b>texto:</b> *.doc, *.docx, *.pdf, *.rtf, *.txt
            </li>
            <li>
              <b>imagen:</b> *.jpg, *.jpeg, *.png
            </li>
            <li>
              <b>video:</b> *.mov, *.mp4, *.m4v, *.mkv
            </li>
            <li>
              <b>audio:</b> *.mp3, *.wav, *.m4a, *.wma
            </li>
            <li>
              <b>comprimidos:</b> *.zip, *.rar
            </li>
            <li>
              <b>tamaño límite de archivo:</b> 50 mb por archivo
            </li>
          </ul> -->
          <p class="card-text mt-2">
            Una vez enviada la tarea recibirás una devolución en tu correo electrónico desde
            <span class="linkColorRed">tutorias@ayp.org.ar</span> .
          </p>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="clase4-saberMas" role="tabpanel" aria-labelledby="clase4-saberMas-tab">
    <div id="clase4-saberMasContenido" class="d-block card-body">
      <div class="d-flex flex-wrap justify-content-between align-items-start">
        <div class="">
          <h3 class="card-text titleClase">
            <img class="puntoRojo" src="./img/punto_rojo.png">
            PARA SABER MÁS...
          </h3>
        </div>
        <a href="http://www.ayp.org.ar/biblioteca" target="_blank" class="text-decoration-none text-body"
          data-bs-toggle="tooltip" data-bs-placement="left" title="Biblioteca online">
          <div class="d-flex justify-content-between align-items-center">
            <p class="d-none d-md-block m-0 text-center p-1 linkRed">
              Biblioteca online
            </p>
            <img style="width: 25px;" src="./img/library-icon.jpg">
          </div>
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="col-0 col-lg-1 d-flex"></div>
        <div class="col-12 col-md-10 d-block">
          <ul class="mt-4">
            <li>
              <a class="text-decoration-none" target="_blank"
                href="https://www.ayp.org.ar/project/estructuracion-temporal-y-ritmo/">
                <h5 class="pt-2 rojoLink">Estructuración temporal y ritmo</h5>
              </a>
            </li>
            <li>
              <a class="text-decoration-none" target="_blank" 
                href="https://www.ayp.org.ar/project/orientacion-espacio-temporal/">
                <h5 class="pt-2 rojoLink">Orientación espacio-temporal</h5>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-0 col-lg-1 d-flex"></div>
      </div>
    </div>
  </div>